{{define "footer"}}
<footer class="page-footer">
  <div class="container">
    <div class="row" style="margin-bottom:-10px; margin-top:-20px;">
      <div class="col s12 l8">
        <h5 class="white-text">About ETHAdmin:</h5>
        <p class="grey-text text-lighten-4">ETHAdmin is a free, open-source web wallet for interacting with Ethereum blockchain.<br>
          <b>Donate:</b><br>ETH: 0xA4F2374B56BADd4516dCcA20a81C8a8b678F33eA</p>
      </div>
      <div class="col l4 offset-12 s12">
        <h5 class="white-text">Contract us:</h5>
        <ul>
          <li><a href="mailto:eth@ethadmin.com" class="grey-text text-lighten-3"><b>Support: </b><u>eth@ethadmin.com</u></a></li>
          <li><a href="https://twitter.com/ethadmin" class="grey-text text-lighten-3"><u>@ETHAdmin</u> in Twitter</a></li>
          <li><a href="https://github.com/ETHAdminCORP/wallet" class="grey-text text-lighten-3">GitHub <u>ETHAdminCORP</u> </a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</html>
{{end}}
