
[data-dropdown-element = "current"]::after {
    content:"▼";
    font-size:0.5em;
    font-family: arial, sans-serif;
    position:absolute;
    top:50%;
    right:5px;
    transform:translate(0, -50%);
}

[data-dropdown-element = "current"]{
    height: 24px;
    position: relative;
    /*border: 1px solid #fac;*/
}
[data-dropdown-element = "list"] ul>li>span>img, [data-dropdown-element = "current"]>span>img{
    width:33px;
}
[data-dropdown-element = "list"] ul>li>span, [data-dropdown-element = "current"]>span{
    padding:2px;
}
[data-dropdown-element = "list"]{
    display: none;
    background: lightcyan;
    padding-top: 4px
}
[data-dropdown-element = "list"] ul>li{
    line-height: 24px;
}
[data-dropdown-element = "list"] ul>li:hover{
    line-height: 24px;
    cursor: pointer;
    /*background: lightgray;*/
}
[data-dropdown-conponent]{
    line-height: 24px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 56px;
}